build/
nemo_library.egg-info/
.venv/

config_twine*.sh
README.rst
config.ini
test.py
__pycache__/
csv/
uploader_test.py
Metadaten_SNr_1.xlsx
.coverage
Log.txt
.DS_Store
migmantest/
metadatatest/
tests/migman/
dist/*
unit-test-project/*